.product_card {
    height: 300px;
    border: 1px solid lightgray;
    background-color: rgb(152, 212, 140);
    border-radius: 12px;

}

.product_img {
    height: 50%;
    width: 100%;

}

.product_title {}

.product_description {}

.product_actionSlot {}