.container {
    display: flex;
    border-radius: 12px;
    max-width: 414px;
    height: 160px;
    padding: 15px;

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        border-radius: 12px;
        margin-right: 15px;

        img {
            height: 100%;
            width: 100%;
            background-size: contain;
            border-radius: inherit;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 50%;
        color: #2D0C57;

        .title {
            font-size: 18px;
            font-weight: 600;
        }

        .price {
            font-size: 22px;
            font-weight: 600;
        }

        .actions_slot {
            display: flex;
            justify-content: space-between;
            height: 30%;


        }
    }
}