* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F5F5;
  color: var(--tg-theme-text-color)
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 414px;
  max-height: 1200px;
}